---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        <span class="font-weight-bold">{{ site.last_name }}</span> 
        <span class="font-weight-bold">{{ site.name_zh }}</span> 
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- Social -->
    <h2><i class="fas fa-link"></i> Academic Profiles</h2>
    <ul class="contact-list">
      <li>
        <a href="https://github.com/siweimutong" target="_blank">
          <i class="fab fa-github"></i> GitHub
        </a>
      </li>
      <li>
        <a href="https://scholar.google.com/citations?user=TBKA_L4AAAAJ">
          <i class="ai ai-google-scholar"></i> Google Scholar
        </a>
      </li>
      <li>
        <a href="https://ieeexplore.ieee.org/author/37087099331">
          <i class="ai ai-ieee"></i> IEEE Profile
        </a>
      </li>
      <li>
        <a href="https://www.researchgate.net/profile/Xiaolin-Li-45?ev=hdr_xprf">
          <i class="ai ai-researchgate"></i> ResearchGate
        </a>
      </li>
      <li>
        <a href="https://orcid.org/0000-0002-4312-7752" target="_blank">
          <i class="ai ai-orcid"></i> ORCID
        </a>
      </li>
    </ul>

    <!-- News -->
    {% if page.news and site.announcements and site.announcements.enabled %}
      <h2><i class="fas fa-bullhorn"></i> News</h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts and site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <h2><i class="fas fa-users"></i> Openings & Collaboration</h2>
    <div class="about-block opening-block">
      I warmly welcome applications from self-motivated M.S. students interested in computer systems, real-time systems, and autonomous/robotic systems.
      I also welcome academic collaboration and technical exchange with researchers and industry partners.
      If you are interested in joining our group or exploring potential collaboration opportunities, please do not hesitate to contact me by email.
    </div>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="/publications" style="color: inherit"><i class="fas fa-book"></i>Selected Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>

  
    <!--Map My Visitors -->
    <h2>Map My Visitors</h2>
    <p>
     <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=PPQU_mM7sTL_R36dMMVsIRMZoyqOm8vq4cw3JVPm7Ho&cl=ffffff&w=a"></script>
    </p>

</div>
